<!doctype html>
<title>IOU</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>

<body>
<div class="container">
{% include "navbar.html" %}

<div id="alerts">
  {% for message in get_flashed_messages() %}
    <div class="row">{{ message }}</div>
  {% endfor %}
</section>

{% if current_user.is_authenticated %}
    <span class="iou-status right right-align">
        <b>TODO - Credit</b>: 220
    </span>
{% endif %}

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</div>
</body>
