{% extends 'layout.html' %}

{% block content %}

{% include 'offer-form.html' %}

<h5>Offers</h5>

{% if current_user.id == 1%}
    <div class="section">
      <a class="waves-effect waves-light btn green modal-trigger" href="#offerFormModal">Create</a>
    </div>
{% endif %}

{% if current_user.is_authenticated %}
    <div class="section">
    <h5>Offered to me</h5>
    <table class="striped">
        <thead>
            <tr>
                <td>Offered by</td>
                <td>Offers</td>
                <td>Requests</td>
                <td>Actions</td>
            </tr>
        </thead>

        <tbody>
            {% for offer in offers if offer.target == current_user %}
            <tr>
                <td>{{offer.owner.email}}</td>
                <td>{{offer.item}} ({{offer.amount}} pcs)</td>
                <td>{{offer.price}} IOU</td>
                <td>
                    <a class="waves-effect waves-light btn green" href="#" onclick='accept(this, {{offer.id}})'>Accept</a>
                    <a class="waves-effect waves-light btn purple darken-2" href="#" onclick='decline({{offer.id}})'>Decline</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="section">
    <h5>Offered by me</h5>
    <table class="striped">
        <thead>
            <tr>
                <td>Item</td>
                <td>Amount</td>
                <td>Price per piece</td>
                <td>Offered to</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers if offer.owner == current_user %}
            <tr>
                <td>{{offer.item}}</td>
                <td>{{offer.amount}} pcs</td>
                <td>{{offer.price}} IOU</td>
                <td>{{offer.target.email if offer.target else ""}}</td>
                <td>
                    <a class="waves-effect waves-light btn green" href="{{ url_for('edit_offer') }}?id=1" disabled=1">Edit</a>
                    <a class="waves-effect waves-light btn purple darken-2" href="#">Remove</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

{% endif %}

<div class="section">
<h5>Free offers</h5>
<table class="striped">
    <thead>
        <tr>
            <td>Offered by</td>
            <td>Item</td>
            <td>Amount</td>
            <td>Price per piece</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers if offer.owner != current_user and not offer.target %}
        <tr>
            <td>{{offer.owner.email}}</td>
            <td>{{offer.item}}</td>
            <td>
                <input class="amountSpinner" type="number" min="1" max="{{offer.amount}}" value="{{offer.amount}}" autocomplete="off">
            </td>
            <td>{{offer.price}} IOU</td>
            <td>
                <a class="waves-effect waves-light btn green" href="#" onclick='accept(this, {{offer.id}}, true)'>Accept</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script>

function do_offer_action(offerId, action, data) {
    let url = '/api/offer/' + offerId + '/' + action;
    postJson(url, data).then(response => {
        if (response.length)
            return response.json()
    }).then(result => {
        window.location.reload();
    });
}

function accept(elm, offerId, resolveAmount) {
    let data = {id: offerId}
    if (resolveAmount) {
        data.amount = +elm.parentElement.parentElement.querySelector('.amountSpinner').value;
    }
    do_offer_action(offerId, 'accept', data);
}

function decline(offerId) {
    do_offer_action(offerId, 'decline', {});
}

</script>
{% endblock %}
