{% extends 'layout.html' %}

{% block content %}


<ul><b>TODO</b>
<li>Participant as email</li>
</ul>


{% if current_user.is_authenticated %}

<h5>My transactions</h5>
<table class="striped">
    <thead>
        <tr>
            <td>Action</td>
            <td>Paticipant</td>
            <td>Item</td>
            <td>Price</td>
            <td>Completed</td>
            <td>Credit after</td>
        </tr>
    </thead>
    <tbody id='rows' />
</table>

<script>
    function buildRow(parent, data) {
        var row = domCreate({
            el: 'tr',
            child: [
                {el: 'td', text: {{current_user.id}} == data.owner ? "Sell" : "Buy"},
                {el: 'td', text: data.target},
                {el: 'td', text: data.item + " (" + data.amount + " pcs)"},
                {el: 'td', text: data.price + " IOU"},
                {el: 'td', text: new Date(data.timestamp).toGMTString()},
                {el: 'td', text: "220 IOU"},
            ]
        });
        parent.appendChild(row);
    }

    var url = '{{url_for('schemaList', modelName='transaction')}}';
    fetch(url).then(response => {
       return response.json()
    }).then(data => {
        var tableBody = document.getElementById('rows');
        for (let row of data) {
            buildRow(tableBody, row);
        }
    })

</script>
{% endif %}
{% endblock %}
